@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono";
}

/* navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 136px;
    
    
}


.nav-title{
    font-size: 25px;
    font-weight: 800;
    color: #0D1321;
}

.nav-btn{
    font-size: 18px; 
     font-weight: 600;
     color: #0D1321;
    
     border-radius: 8px;
            border: 1px solid #0D1321;
     opacity: 0.8;
     width: 220px;
     height: auto;
     
}


/* COMMON STYLES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.center{
    text-align: center;
}

/* BANNER SECTION STYLES */
.banner{
    text-align: center;
    margin-top: 30px;
    background-image: url(/B10A1-Challenge-Begins/assets/Hero-bg.png);
}
#banner-heading{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 43px;
    font-weight: 800;
}
#banner-description{
    color: #0D1321;
    opacity: 0.7;
font-family: "Azeret Mono";
font-size: 15px;
font-weight: 400;
margin-top: 21px;

}
#banner-btn{
    color: #FFFFFF;
    background: #0D1321;
    font-size: 18px;
    padding: 19px 22px;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 28px;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  
}
#banner-btn a {
    color: inherit; 
    text-decoration: none;
  }

.des{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 15px;
    font-weight: 400;
    margin-top: 21px;
    opacity: 0.7;

}

.development{
    /* width: 1200px; */
    max-width: 1175px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 65px auto;

}
.box{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #FFFFFF;
    max-width: 875px;
    margin: 32px auto;
    justify-content: space-between;
    border-radius: 15px;
    padding: 44px;

}
.boxes{
padding-bottom: 50px;
 
}
.development-title{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
    padding-top: 72px;
   

}
.development-sub-title{
    padding-top: 22px;
    padding-bottom: 44px;
}
.box-title{
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 22px;
    font-weight: 700;   
    margin-bottom: 14px;
}
.box-sub-title{
    margin-bottom: 28px;
}
.box-btn{
    color: #0D1321;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 11px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;    
    border: 1px solid #0D1321;
    opacity: 0.7;    
}

/* Inspiration Section */
.Inspiration-title{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;

}
.Inspiration-sub-title{
    margin-top: 22px;
   margin-bottom: 44px;

}
.video{
    margin: 43px auto;
    width: 1045px;
    height: 500px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 28px;

    
}
.video-container{
    margin: 43 auto;
    text-align:center;
}

/* Current target section */

.target-title{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
    margin-top: 135px;
}
.target-sub-title{
    margin-top: 22px;
    margin-bottom: 44px;    
}
.anchor{
    color: #0D1321;
    font-size: 18px;
    font-weight: 500;
}

.cards{
    display: flex;
    margin: 44px auto;
    justify-content: center;
    gap: 21px;
}
.card{
    width: 260px;
    padding: 35px;

}

.card-a{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.card-b{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);    
}
.card-c{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* SUPPORT section styles */

.background{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.10) 100%),
            linear-gradient(135deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.60) 100%),
            url(./images/handshakeresized.jpg) #f0f0f0 50% / cover no-repeat;
    margin: 44px auto;
    width: 1045px;
    height: 360px;
    text-align: center;
    border-radius: 16px;
    
}


.support{
   
    
  
    
}

.support-title{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 28px; 
    font-weight: 700;   
   padding-top: 85px;
}
.support-sub-title{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 40px;
    margin-bottom: 50px;
}
#suggest{
    border-radius: 8px;
   
    width: 450px;
    height: 44px;
    color: rgba(13, 19, 33, 0.40);
    font-size: 15px;
    font-weight: 400;
    border-color: white;
 
}
#submit{
 
    width: 120px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
    color: #0D1321;
    font-weight: 600;
}

/*   FOOTER */

#footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 16px; */
    background: rgba(13, 19, 33, 0.03);
    padding: 28px 134px;    
}
